<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSignUp"
        tools:targetApi="31">
        <activity
            android:name=".DisplayBranchDetails"
            android:exported="false" />
        <activity
            android:name=".LecturerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CoursesDetails"
            android:exported="false" />
        <activity
            android:name=".Course"
            android:exported="false" />
        <activity
            android:name=".RegisterCourseWithPay"
            android:exported="false" />
        <activity
            android:name=".BranchCourseList"
            android:exported="false" />
        <activity
            android:name=".BranchMapLocation"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".AddBranchActivity"
            android:exported="false" />
        <activity
            android:name=".Operations"
            android:exported="false" />
        <activity
            android:name=".CourseAdapter"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayCourses"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".ProfileDashboard"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>